<!DOCTYPE html>
<html>
  <head>
      <title>Click to Call Test</title>
      <!-- We use Twitter Bootstrap as the default styling for our page-->
      <link rel="stylesheet" 
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" 
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <!-- Include CSS for our third-party telephone input jQuery plugin-->
      <link rel="stylesheet" href="/static/styles/intlTelInput.css">
  </head>
  <body>
    <div class="container">
        <h1>Click To Call</h1>
        <p>
            This is a test application for Twilio Click To Call.
        </p>
        <p>Lets see if it works!</p>
        <hr>

        <!-- C2C contact form-->
        <div class="row">
            <div class="col-md-12">
                <form id="contactForm" role="form">
                    <div class="form-group">
                        <h3>Call Customer Care</h3>
                        <p class="help-block">
                            Please enter the number you want to get a call, below, and our agent will contact you right away.
                        </p>
                    </div>
                    <div class="form-group">
                        <input type="text" id="phoneNumber" 
                            placeholder="Enter number here" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default">
                        Contact Agent
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- Include page dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/intlTelInput.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
